{% extends 'base/main.html' %}

{% block content %}

<div class="todo-app">
    <div class="todo-header">
        {% if request.user.is_authenticated %}
        <p class="heading">Hello, <span>{{request.user}}</span></p>
        <p class="btn"><a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
        <div>
            <a href="{% url 'login' %}">Login</a>
        </div>
        {% endif %}
    </div>

    <hr>
    <div class="todo-body">
        <div class="heading">
            <h2>My todo list</h2>
            <h2><a href="{% url 'task-create' %}">Add Task</a></h2>
        </div>
        <div class="search-bar">
            <form method="GET">
                <input type="text" name="search-area" value="{{search_input}}">
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="table">
            <table>
                <tr>
                    <th class="col-1">Item list</th>
                    <th class="col-2"></th>
                    <th class="col-2"></th>
                </tr>
                {% for task in tasks %}
                <tr>
                    <td class="col-1">{{task.title}}</td>
                    <td class="col-2 btn-edit"><a href="{% url 'task-update' task.id %}">Edit</a></td>
                    <td class="col-2 btn-del"><a href="{% url 'task-delete' task.id %}">Delete</a></td>
                </tr>
                {% empty %}
                <div class="empty">
                    <h3>No task in the List</h3>
                </div>   
                {% endfor%}
            </table>
        </div>
    </div>
</div>
{% endblock content %}